---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import SocialNetworks from "../../components/networks/SocialNetworks.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="Nosotros">
  <div class="flex flex-col min-h-screen">
    <Navbar />
    <SocialNetworks />
    <main
      class="flex-grow w-full bg-gradient-to-b from-gray-800 via-fuchsia-500 to-black flex flex-col items-center p-8 space-y-16 pt-24"
    >
      <h1
        class="text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-fuchsia-500 to-indigo-600"
      >
        Nosotros
      </h1>
      <section>
        <h2 class="text-2xl font-semibold text-center">¿Quiénes somos?</h2>
        <p class="text-center text-lg text-gray-400 max-w-2xl ">
          Somos una empresa dedicada a la venta de productos de belleza y cuidado
          personal.
        </p>
        <!-- especifica que esperemos que se vea -->
        <p class="text-center text-lg text-gray-400 max-w-2xl ">
          Esperamos que te sientas cómodo y seguro con nosotros.
        </p>
      </section>
      <section>
        <h2 class="text-2xl font-semibold text-center">¿Qué esperamos de nosotros?</h2>
        <p class="text-center text-lg text-gray-400 max-w-2xl ">
          Esperamos que te sientas cómodo y seguro con nosotros.
        </p>
      </section>
      <!-- donde estamos ubicados -->
      <section>
        <h2 class="text-2xl font-semibold text-center">¿Dónde estamos?</h2>
        <p class="text-center text-lg text-gray-400 max-w-2xl ">
          Estamos ubicados en la ciudad de México, en la colonia Roma.
        </p>
      </section>
      <Footer />
    </main>
  </div>
</Layout>
