<nav class="fixed top-4 left-1/2 transform -translate-x-1/2 flex flex-wrap justify-center items-center bg-gradient-to-r from-fuchsia-500 to-indigo-600 p-1 rounded-full shadow-lg min-w-[300px] max-w-[90%] transition-transform duration-500 hover:scale-105 z-50">
  <a href="/home" class="text-white text-sm font-semibold hover:text-indigo-300 transition duration-300 px-4 py-2">Inicio</a>
  <a href="/products" class="text-white text-sm font-semibold hover:text-indigo-300 transition duration-300 px-4 py-2">Productos</a>
  <a href="/about" class="text-white text-sm font-semibold hover:text-indigo-300 transition duration-300 px-4 py-2">Nosotros</a>
  <!-- contactanos -->
  <a href="/contact" class="text-white text-sm font-semibold hover:text-indigo-300 transition duration-300 px-4 py-2">Contactanos</a>
</nav>

  
  