---
const { title = "Astro Landing Page", description = "A modern landing page built with Astro and Tailwind CSS" } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-gradient-to-b from-gray-800 via-fuchsia-500 to-black text-white">
    <slot />
  </body>
</html>
